<nav class="main-nav">
  <ul>
    <li><a href="/" class="logo">blogAblog.</a></li>
    <li><a href="/" class="home">Home</a></li>
    <li><a href="/aboutUs" class="aboutUs">About Us</a></li>
    <li><a href="/articles/blog" class="blog">Blogs</a></li>
  </ul>
</nav>

